<div class="container">
	<h1 class="text-center">Seattle, WA</h1>
	<div class="row">
		<div class="col">
			<p>Humidity: {{ weather.main.humidity }}</p>
			<p>Temperature(Average):</p>
			<p>Temperature(High): {{ weather.main.temp_max }}</p>
			<p>Temperature(Low): {{ weather.main.temp_max }}</p>
			<p>Status: {{ weather.weather[0].description }}</p>
		</div>
		<div class="col">
			<img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/f4/d9/92/washington-dc-day-tour.jpg">
		</div>
	</div>
</div>
